.jumbotron {
    text-align: center;
    background: none;
}

.sectionLight {
    background: #eceeef;
    padding: 2rem;
}

.sectionDark {
    background: #cccccc;
    padding: 2rem;
}

.sectionDark p {
    text-align: justify;
}

.coolStuffWrapper {
    margin-top: 20px;
}

.coolStuffBtn {
    background: red;
    color: white;
    display: block;
    margin: auto;
}

.modal-title {
    margin: auto;
}

.modalFormWrapper {
    padding: 2rem;
}

.coolStuffModalPicture {
    display: block;
    margin: auto;
}

.imgCenter {
    display: block;
    margin: auto;
}

.btnCenter {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 79%;
    /*width: 54%; This is the value used in the lesson, my screen is smaller than his.*/
}

.videoCaption {
    font-weight: bold;
    display: block;
    margin: auto;
    padding: 0.2rem;
}

.footerImg {
    padding: 15px;
}

.socialWrapper {
    margin: auto;
}

.fa {
    margin: 10px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-google-plus-square {
    color: #c32f10;
}

.fa-instagram {
    color: white;
}